@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: initial;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.show {
	display: flex;
	animation: fadeIn forwards 0.5s cubic-bezier(0.37, 0, 0, 1.01);
}
.hidden {
	animation: fadeOut forwards 0.5s cubic-bezier(0.37, 0, 0, 1.01);
	display: none;

	&--instant {
		display: none;
	}
}
@keyframes slideOutRight {
	100% {
		transform: translateX(0%);
	}
}
@keyframes slideOutLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(300%);
	}
}
@keyframes glowFlash {
	0% {
	}
	50% {
		background-color: var(--text-color-secondary);
	}
	100% {
	}
}
.slide-out--right {
	animation: slideOutRight forwards 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.slide-out--left {
	animation: slideOutLeft forwards 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.glow {
	animation: glowFlash forwards 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
