.btn {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1.6rem;
	color: var(--text-color-secondary);
	border-style: none;
	background-color: var(--bg-color-dark);
	padding: 1rem;

	box-shadow: var(--drop-shadow-sm);

	border-radius: 3px;
	transition: 0.2s;

	&__reset {
		aspect-ratio: 1/1;
	}
	&:hover {
		background-color: var(--bg-color-mid);
		color: var(--text-color-primary);
		transform: translateY(-2px);
		cursor: pointer;
		box-shadow: var(--drop-shadow-sm-1);
	}
	&:active {
		transform: translateY(3px);
		box-shadow: var(--drop-shadow-sm-2);
	}
}

.update {
	color: aquamarine;
	position: absolute;

	top: 25.4rem;
	width: 70%;
	align-self: center;
}
