.artboard {
	background-color: #ffffff;
	// min-width: 35rem;
	min-height: 15rem;
	border-radius: 5px;
	box-shadow: var(--drop-shadow-lg);
	margin-inline: auto;
	display: grid;

	place-items: center;
}
@media screen and (min-width: 600px) {
	.artboard {
		min-height: 30rem;
	}
}
.art {
	overflow: hidden;
	font-family: 'regofont';
	position: relative;
	min-width: 270px;
	aspect-ratio: 3.14;
	// height: 86.33px;
	border-radius: 10px;
	text-align: center;
	background-color: #000;

	justify-content: center;

	.outter__line {
		width: 266px;
		height: 82px;
		border-radius: 9px;
	}
	.inner__line {
		width: 260px;
		height: 76px;
		border-radius: 7px;
	}
	.outter__line,
	.inner__line {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border: 1px solid var(--art-accent-clr);
	}
}
@media screen and (min-width: 600px) {
	.art {
		scale: 2;
	}
}
.text__content {
	color: var(--art-accent-clr);
	place-self: center;
	text-transform: uppercase;
	position: absolute;

	&__middle {
		font-size: 4rem;
		left: 15%;
		top: 25%;
		white-space: nowrap;
	}
	&__top {
		left: 43%;
		top: 10%;
		letter-spacing: 3px;
		white-space: nowrap;
	}
	&__left {
		display: flex;
		word-break: break-all;
		text-transform: uppercase;
		text-align: center;
		width: 0.2em;
		left: 5%;
		top: 28%;
		// white-space: nowrap;
	}
	&__bottom {
		left: 35%;
		bottom: -1%;
		letter-spacing: 3px;
		padding-bottom: 0.5rem;
		white-space: nowrap;
	}
}
